* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  
  :root {
    font-size: 62.5%;
  
    --ff-primary: 'Roboto', sans-serif;
    --text-color: ;
    --bb-color-01:#f7f4f4 ;
    --color-01: #45a82af2;
    
  }
  
  body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bb-color);
    
  }
  
  body * {
    font-family: var(--ff-primary);
  }

  main {
    display: grid;
    grid-template-columns: 350px 1fr;
   
    align-items: center ;

 

  }
  .left-column {
    height: 100vb;
    background: var(--bb-color-01);
    
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    text-align: left;
   
  }

  .left-column img {
    display: block; 
    margin: 0 auto; 

    width: calc(10rem + 50px);
    height: calc(10rem + 50px);
    border-radius: 50%;
    border: 2px solid var(--bb-color-01);
    box-shadow: 0 0 0 2px var(--color-01);

    

}


  
  .left-column h2 {
    margin: 2rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.6rem;
    color: rgb(38, 38, 38);
  
  }

  
  #social-links {
    display: flex;
    justify-content: center;
    padding: 2.4rem 0;
    font-size: 2.4rem;
  }
  
  #social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: backgroand 0.2s;
    border-radius: 50%;
    color: rgb(0, 0, 0);
  }
  
  .right-column {
    height: 100vh;
    background: url('./img/bb.jpg');
    background-size: cover; 
    background-position: center; 
    border-image: fill 0 linear-gradient(#0003,#000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #f7f4f4;
    
  }
  .information {
      margin-left: 5rem;
      
  
  }
  .right-column h3{
    color: rgb(232, 237, 237);
    font-size: 2.7rem;
    
  }
  .right-column h1 {
    font-size: 7.3rem;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #ffffff;
    letter-spacing: .2rem;
    font-weight:var(--bb-color-01);
}
.right-column p {
  font-size: 2.3rem;

}

.line {
  margin: 3rem 0 3rem 0 ;
}

.button {
  display: flex;
  gap: .5rem;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  border: 3px solid ;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px ;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

a {
  text-decoration: none;
}

.ion {
  font-size: 1.8rem;

}
  
.button:hover{
    transform: scale(1.025);

}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button{
    padding: 0.25em 0.75em;
  }
}

@media (max-width: 768px) {
    main {
      grid-template-columns: 1fr;
    }
    .left-column {
        height: 40vb;
    }
    .right-column {
        height:60vb ;
    }
    .right-column h3{
      font-size: 2rem;
   
  }
  .right-column h1 {
      font-size: 6rem;
      
  }
  .right-column p {
    font-size: 1.6rem;
  }
}